<br>
<div class = "title">
  <%= @question.title %>


  <% if signed_in? && @creator == current_user.id %>
  <div id = "edit_options">
    <ul>
    <li><%= link_to "Update", edit_question_path %></li>
    <li><%= link_to "Delete", question_path(@question), method: :delete %></li>
    </ul>

  </div>
  <% end %>

</div>

<div class = "description"><%= @question.description %></div>


<div class = "title" style = "background:#FF6F00">Answers</div>

<ul id = "answers">
<% @answers.each do |a| %>
  <li>
    <b><%= "[Favorite]" if a.is_favorite == true %></b>
    <%= a.description %>
    <% if signed_in? && @creator == current_user.id && a.is_favorite != true %>
      <%= link_to "Make Favorite", question_answer_path(@question, a),method: :patch %>
    <% end %>
  </li>
<% end %>
</ul>

<div id = "submit_answer">
  <%= form_for [@question,@new_answer] do |f| %>

    <%= f.label "Add your answer" %>:
    <%= f.text_area :description,:rows => 10, :cols => 85 %><br>

    <%= f.submit %>
  <% end %>
</div>
